#form-maestru {
    padding: 0 30px;
}

.extend_register_title {
    max-width: calc(100% - 43px);
}

.formLabel sup,
.h3Label sup {
    top: 0 !important;
    min-height: 1px;
    padding-left: 3px;
}

.formLabel .d-inline,
.h3Label .d-inline {
    display: inline!important;
}

.ajuda {
    font-size: 16px;
    cursor: help;
}

.ajudatext {
    padding: 8px 5px;
    font-size: 11px;
    font-weight: 400;
    background: var(--colorLine);
    border-radius: 4px;
    min-height: 16px;
    margin-left: 1px;
}

.info-container {
    height: 19px;
    overflow: hidden;
}

.svgIcon {
    float: left;
    width: 27px;
    height: 27px;
    position: relative !important;
}

.file_source img {
    width: 100%;
    height: 100%;
}

.file_list img {
    height: 30px;
}

.progress-wrp {
    border: 1px solid #bbbbbb;
    height: 30px;
    border-radius: 50px;
    text-align: left;
    background: #fff;
    position: absolute;
    top: 3px;
    right: 38px;
    max-width: 240px;
    width: 100%;
    z-index: 18;
}

.progress-wrp .progress-bar {
    border-radius: 50px;
    height: 100%;
    background-color: darkseagreen;
    width: 0;
}

.progress-wrp .status {
    top: 1px;
    left: 47%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

.parent-save-form > div > button {
    float: initial;
    margin: auto;
    display: block;
    padding: 10px 30px;
}

@media only screen and (min-width: 993px) {
    .parent-save-form > div > button {
        float: left;
    }
}

.extend_register {
    transition: height ease .3s;
}

.badgeListMultOption {
    border-radius: 4px!important;
    background-color: var(--colorBackground)!important;
    color: var(--colorText)!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.badgeListMultOption > i.material-icons {
    float: right;
    font-size: 13px;
    padding: 4px 0 0 5px;
}

.list_mult_context .list-results {
    margin-top: -20px
}

.list_mult_context .listMult {
    min-width: 150px;
}

.list_mult_context .infoContainerListMult {
    margin-top: -19px;
    font-size: 12px;
}

.list_mult_context .badgeListMult > .badge {
    border-radius: 7px;
    font-size: 14px;
    margin: 13px 10px 0 0;
    cursor: pointer;
}

.list_mult_context .list-input-mult > .input-bar {
    height: 2px;
    background: #ccc;
    margin-top: -2px;
}

.list_mult_context .badgeListMult {
    float: left !important;
}

.list_mult_context .btnListMult {
    padding: 8px 6px !important;
    border-radius: 50px;
    width: 40px;
    border: none;
    box-shadow: none;
    margin-right: 0;
}

@media (min-width: 700px) {
    .list_mult_context .btnListMult {
        border-radius: 4px;
        padding: 8px 16px !important;
        width: auto;
    }
}

@html.darkmode .loadindTableSpace .btn-floating, @html.darkmode .loadindTableSpace .btn-form-save {
    background: #444!important;
}

@html.darkmode .grid-form-body, @html.darkmode .maestru-form-control > .card {
    border-color: #111 !important;
    background-color: #444444;
}

@html.darkmode .extend_register, @html.darkmode .extend_register > .col {
    padding: 0;
}

@html.darkmode .extend_register:nth-child(odd) {
    background-color: var(--colorLine) !important;
    border: none!important;
}

@html.darkmode .color-white, @html.darkmode .form-crud, @html.darkmode .file_gallery > .mock-file{
    background-color: #444444 !important;
    color: #eeeeee !important;
    border-color: #333333 !important;
}

@html.darkmode .border-top {
    border-color: #666666!important;
}

@html.darkmode .form-crud input, @html.darkmode .form-crud select, @html.darkmode .w3-css input, @html.darkmode .form-crud textarea {
    color: #FFFFFF !important;
    background-color: #444444 !important;
}

@html.darkmode .form-crud select {
    border-bottom-color: #999999 !important;
}

@html.darkmode label span.col, @html.darkmode select option[disabled], @html.darkmode label.formLabel {
    color: #BBBBBB !important;
}

@html.darkmode .table-all {
    border-color: #555555 !important;
}

@html.darkmode .table-all tr > td:first-child > label {
    margin: 0;
    height: 22px;
}

@html.darkmode .table-all tr {
    background-color: #3c3c3c !important;
    border-color: #555 !important;
    color: #eeeeee !important;
}

@html.darkmode .table-all tr:nth-child(odd) {
    background-color: #444444 !important;
}

@html.darkmode .table-all tr:nth-child(odd) button, @html.darkmode .pagination {
    background-color: #333333 !important;
}

@html.darkmode .grid_content_card_header > ul.col {
    padding: 0 !important;
}

@html.darkmode .grid_content_card_header {
    color: #999999 !important;
}

@html.darkmode .pagination {
    color: #FFFFFF;
    border-top: 0 !important;
}

@html.darkmode .pagination > li {
    height: 45px;
    padding-top: 11px;
    border-radius: 7px;
}

@html.darkmode .switch .slider {
    background-color: #353535 !important;
}

@html.darkmode .loadindTableSpace > div.col:not(.form-header) {
    padding-bottom: 10px !important;
}

@html.darkmode .loadindTableSpace > div.col:not(.form-header) button {
    margin-left: 10px !important;
}

@html.darkmode .loadindTableSpace > div.col:not(.form-header) button > i {
    padding-right: 7px;
}

@html.darkmode .list-input > .col {
    padding: 0!important;
    color: #333333!important;
}

@html.darkmode .maestru-form-control.color-text-gray-dark {
    padding-top: 100px!important;
    font-size: 20px;
}

@html.darkmode button.opacity {
    opacity: .9
}

label.col, .formLabel {
    padding: 0
}