<div style="border: solid 1px;" class='col mode-background-colorBox mode-border-colorLine radius margin-bottom padding-top padding-left relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input no-select parent-relation relative radius {{form.class}}"
         {{#form.style}}style="{{form.style}}"{{/form.style}}>
        <h3 style="color: var(--colorText);padding: 15px 15px 5px 0" class="left h3Label font-large font-bold">
            <div class="left d-inline">{{nome}}</div>
            {{#required}}<sup class="color-text-red left d-inline" style="margin-top: 5px"><b>*</b></sup>{{/required}}
            {{#haveAjuda}}<sup class="left"><i class="material-icons left ajuda d-inline" title="{{ajuda}}">help</i></sup>{{/haveAjuda}}
        </h3>
        <div class="left info-container font-small" style="padding-top: 20px;height: 46px;" rel="{{column}}">
            <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
        </div>
        <div class="btn right mode-background-colorLine radius padding-medium hover-shadow mode-border-colorLine mode-text-colorText pointer margin-bottom{{#disabled}} disabled{{/disabled}}"
            {{#disabled}} disabled='disabled' title='atualizações não permitidas'{{/disabled}}
            {{^disabled}}onclick="editFormRelation('{{relation}}', '{{column}}')"{{/disabled}}
             style="border: solid 1px;box-shadow: none;margin-top: 7px;">

            {{^value}}<i class="material-icons left font-xlarge">add</i>{{/value}}
            {{#value}}<i class="material-icons left font-large" style="margin-top: 2px">edit</i>{{/value}}

            <div class="left relative font-medium formCrudInput" data-column="{{column}}"
                 id="{{column}}" style="padding:1px 0 0 5px">
                {{^value}}adicionar{{/value}}{{#value}}editar{{/value}}
            </div>
        </div>
        {{#value}}
            <div class='right pointer padding-medium padding-16 deleteRegisterRelation color-text-gray-dark color-hover-text-red' rel="{{column}}" onclick="deleteRegisterRelation('{{column}}')"><i class='material-icons'>delete</i></div>
            <div class="left padding-16 registerRelationName" rel="{{column}}">
                <span class="rest color-text-gray padding-right">{{{columnTituloExtend}}}</span>
            </div>
        {{/value}}
    </div>
</div>