<div class='maestru-form-control col padding-24 s-padding-0 font-large'>
    <div class="col{{#bodyCard}} card radius border s-border-0 s-radius-0 p-0 overflow-hidden{{/bodyCard}}">
        {{#header}}
            <div class="col loadindTableSpace no-select p-0">
                <div class="col form-header" rel="{{identificador}}">
                    <a href="#back" class="left mode-background-colorLine mode-text-colorText btn-floating">
                        <i class="material-icons left">keyboard_arrow_left</i>
                    </a>
                    <h4 class="left mode-text-colorText" style="padding: 5px 0 0 7px;">
                        <span class='pointer' rel="{{identificador}}">
                            {{#goodName}}{{entity}}{{/goodName}}
                        </span>
                    </h4>

                    <div class="right parent-save-form-mini">
                        <button class="right mode-background-colorLine mode-text-colorText hover-shadow btn radius btn-form-save" rel="{{identificador}}">
                            <i class="material-icons left">save</i>
                            <div class="left padding-left-8">salvar</div>
                        </button>
                    </div>
                    <div class="saveStatusCallBack topSave"></div>
                </div>
            </div>
            <div class="col padding-4 no-select"></div>
        {{/header}}

        <div class="col relative form-crud p-0" id='{{identificador}}' data-entity="{{entity}}">
            <div class="panel padding-top s-padding-small mb-0">
                {{#inputs}}
                    {{{.}}}
                {{/inputs}}
            </div>

            {{#options.saveButton}}
                <div class="panel no-select padding-bottom parent-save-form">
                    <div class="col padding-tiny">
                        <button class="btn radius mode-background-colorBackground m-0 mode-text-colorText hover-shadow opacity hover-opacity-off"
                                onclick="saveForm('{{identificador}}')">
                            {{{options.buttonText}}}
                        </button>
                        <div class="saveStatusCallBack"></div>
                    </div>
                </div>
            {{/options.saveButton}}
        </div>
    </div>
</div>