<input
    type="hidden"
    data-format="{{format}}"
    data-column="{{column}}"
    class="formCrudInput"
    id="{{column}}"
    rel="{{formIdentificador}}"
    {{#value}}value="{{value}}"{{/value}}
/>