<div class='col margin-bottom padding-tiny relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input relative {{form.class}}" {{#form.style}}style="{{form.style}}"{{/form.style}}>
        <label class="col">
            <span class="col align-left formLabel no-select">
                <div class="left d-inline">{{nome}}</div>
                {{#required}}<sup class="color-text-red left d-inline" style="margin-top: 5px"><b>*</b></sup>{{/required}}
                {{#haveAjuda}}<sup class="left"><i class="material-icons left ajuda d-inline" title="{{ajuda}}">help</i></sup>{{/haveAjuda}}
            </span>
            <input
                    type="{{form.type}}"
                    data-format="{{format}}"
                    data-column="{{column}}"
                    class="formCrudInput{{#disabled}} disabled{{/disabled}}"
                    autocomplete="off"
                    readonly
                    id="{{column}}"
                    rel="{{formIdentificador}}"
                    value="{{value}}"
                    {{#disabled}}disabled="disabled"{{/disabled}}
                    {{#allow.regexp}}pattern="{{allow.regexp}}"{{/allow.regexp}}
                {{#minimo}} minlength="{{minimo}}" min="{{minimo}}" {{/minimo}}
                {{#size}} maxlength="{{size}}" max="{{size}}" {{/size}}
                {{#disabled}} disabled='disabled' {{/disabled}}
                {{#required}} required="required" {{/required}}
                {{{form.atributos}}}
            />
            <span class="input-bar"></span>
            <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="{{column}}">
                <span class="right align-right color-text-gray"  rel="{{column}}">
                    {{#isNumeric}}
                        {{#valueLenght}}
                            {{^size}}>= {{valueLenght}}{{/size}}
                            {{#size}}{{valueLenght}} ~{{size}}{{/size}}
                        {{/valueLenght}}
                        {{^valueLenght}}
                            {{#size}}<={{size}}{{/size}}
                        {{/valueLenght}}
                    {{/isNumeric}}
                    {{^isNumeric}}<span class="input-info">{{valueLenght}}</span>{{#size}}/{{size}}{{/size}}{{/isNumeric}}
                </span>
                <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
            </div>
        </label>
    </div>
</div>