<div style="border: solid 1px;padding:0!important" class='col mode-background-colorLine mode-border-colorBackground radius margin-bottom relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input parent-relation relative {{form.class}}"
         {{#form.style}}style="{{form.style}}"{{/form.style}}>

        <h3 style="color: var(--colorText);padding: 20px 15px 5px 12px" class="left h3Label font-large font-bold">
            <div class="left d-inline">{{nome}}</div>
            {{#required}}<sup class="color-text-red left d-inline" style="margin-top: 5px"><b>*</b></sup>{{/required}}
            {{#haveAjuda}}<sup class="left"><i class="material-icons left ajuda d-inline" title="{{ajuda}}">help</i></sup>{{/haveAjuda}}
        </h3>
        <div class="btn right mode-background-colorLine mode-text-colorText radius padding-medium hover-shadow mode-border-colorLine pointer margin-bottom{{#disabled}} disabled{{/disabled}}"
            {{#disabled}} disabled='disabled' title="Atualizações não permitidas"{{/disabled}}
            {{^disabled}} onclick="addRegisterAssociation('{{relation}}', '{{column}}')"{{/disabled}}
             data-column="{{column}}" style="border: solid 1px;box-shadow: none;margin-top: 12px;">
            <i class="material-icons left font-xlarge">add</i>
            <div class="left formCrudInput relative font-medium" data-column="{{column}}" id="{{column}}" style="padding:1px 0 0 5px">
                adicionar
            </div>
        </div>
        <div class="left padding-24 info-container font-small" rel="{{column}}">
            <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
        </div>

        <div class="extend_list_register list_mult_register no-select col transition-slow{{#disabled}} disabled{{/disabled}}" data-id="{{formIdentificador}}-{{column}}" data-column="{{column}}" rel="{{formIdentificador}}" style="overflow: auto"></div>
    </div>
</div>
<div class="col info-container padding-tiny padding-4 margin-bottom" style="margin-top: -19px;font-size: 12px;" rel="{{column}}">
    <span class="right align-right color-text-gray"  rel="{{column}}">
        {{#isNumeric}}
            {{#valueLenght}}
                {{^size}}>= {{valueLenght}}{{/size}}
                {{#size}}{{valueLenght}} ~{{size}}{{/size}}
            {{/valueLenght}}
            {{^valueLenght}}
                {{#size}}<={{size}}{{/size}}
            {{/valueLenght}}
        {{/isNumeric}}
        {{^isNumeric}}{{#size}}<span class="input-info">{{valueLenght}}</span>/{{size}}{{/size}}{{/isNumeric}}
    </span>
</div>

<script>
    /**
     * Carregamento dos dados já salvos 1 a 1 na ordem correta de forma sincrona
     */
    $(async function() {
        let tpl = getTemplates();
        let multList = [{{value}}];
        let entityList = "{{relation}}";
        let columnList = "{{column}}";
        let formId = "{{formIdentificador}}";
        let listFinal = [];
        if(!isEmpty(multList) && typeof multList === "object" && typeof multList[0] === 'number') {

            $(".extend_list_register[data-id='" + formId + "-" + columnList + "']").append(
                    '<div class="col extend_register extend_register_load" rel="{{column}}" style="height:46px;overflow: hidden"><div class="col padding-medium"><div class="left font-medium padding-4 extend_register_title" style="cursor: default">carregando...</div></div></div>'
            );

            let promises = multList.map(async (id, id_indice) => {
                if (typeof id === "number") {
                    let result = await db.exeRead(entityList, id);
                    if (typeof result[0] === "object" && result.length === 1) {
                        result = result[0];
                        result.columnStatus = { column: '', have: !1, value: !1 };
                        result.columnRelation = entityList;
                        result.columnName = columnList;
                        result.columnTituloExtend = await getRelevantTitle(entityList, result);
                        listFinal.push({ index: id_indice, data: result });
                    }
                }
            });

            // Aguarde todas as promessas serem concluídas
            await Promise.all(promises);

            $(".extend_register_load[rel='{{column}}']").remove();

            if(!isEmpty(listFinal)) {
                listFinal.sort((a, b) => a.index - b.index);
                for (let rr of listFinal)
                    $(".extend_list_register[data-id='" + formId + "-" + columnList + "']").append(Mustache.render(tpl.list_save_mult_value, rr.data));
            }
        }
    });
</script>