<div class='col list_mult_context margin-bottom padding-tiny relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input parent-relation relative {{form.class}}"
         style="{{#form.style}}{{form.style}}{{/form.style}}">
        <label for="{{column}}" class="col align-left font-small formLabel no-select"
               data-column="{{column}}">
            <div class="left d-inline">{{nome}}</div>
            {{#required}}<sup class="color-text-red left d-inline" style="margin-top: 5px"><b>*</b></sup>{{/required}}
            {{#haveAjuda}}<sup class="left"><i class="material-icons left ajuda d-inline" title="{{ajuda}}">help</i></sup>{{/haveAjuda}}
        </label>

        {{#autocompletenovo}}
            <div style="margin-right: 0"
                 class="btn{{^disabled}} btnListAction{{/disabled}} btnListMult right mode-background-colorLine mode-text-colorText hover-shadow pointer margin-left margin-bottom{{#disabled}} disabled{{/disabled}}"
                 rel="{{id}}" data-entity="{{relation}}" data-column="{{column}}"
                {{#disabled}} disabled='disabled' title='atualizações não disponíveis'{{/disabled}}>
                <i class="material-icons list-btn-icon left transition-easy font-large padding-tiny"
                   rel="{{column}}">add</i>
                <div class="left s-hide relative font-medium" style="padding:1px 0 0 5px">
                    novo
                </div>
            </div>
        {{/autocompletenovo}}

        <div class="rest relative list-input list-input-mult" rel="{{column}}">
            <div class="badgeListMult" rel="{{column}}"></div>
            <input type="text" placeholder="pesquisar..." autocomplete="off"
                   class="formCrudInput listMult{{#disabled}} disabled{{/disabled}}"
                   data-column="{{column}}"
                   data-format="list_mult"
                   data-entity="{{relation}}"
                   id="{{column}}"
                   data-value="{{value}}"
                   rel="{{formIdentificador}}"
                {{#required}} required="required" {{/required}}
                {{#disabled}}disabled="disabled"{{/disabled}}
                {{#allow.regexp}}pattern="{{allow.regexp}}"{{/allow.regexp}}
                {{{form.atributos}}}
            />
            <span class="input-bar"></span>

            <div class="col list-results" id="list-result-{{column}}"></div>
        </div>
        <div class="col info-container infoContainerListMult" rel="{{column}}">
            <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
        </div>
    </div>
</div>

<script>
    /**
     * Carregamento dos dados já salvos
     */
    $(async function() {
        let rel = await dbLocal.exeRead("__relevant", 1);
        {{#value}}
            db.exeRead("{{relation}}", {{.}}).then(result => {
                if (typeof result[0] === "object" && result.length === 1) {
                    let findTitle = !1;
                    for (let i in rel) {
                        for (let col in dicionarios.{{relation}}) {
                            if (dicionarios.{{relation}}[col].format === rel[i]) {
                                $("#{{column}}").siblings(".badgeListMult").append("<div class='badge badgeListMultOption' onclick=\"removeBadge({{.}}, '{{column}}');\" rel='{{column}}' data-id='{{.}}'>" + result[0][col] + "<i class='material-icons close'>close</i></div>");
                                $(".listMult").each(function (i, e) {
                                    let wb = $(e).siblings(".badgeListMult").width();
                                    let pr = $(e).siblings(".badgeListMult").parent().width();
                                    if(wb + 151 > pr)
                                        $(e).css("width", "100%");
                                    else
                                        $(e).css("width", "calc(100% - " + wb + "px)");
                                });
                                findTitle = !0;
                                break;
                            }
                        }
                        if (findTitle)
                            break;
                    }
                }
            });
        {{/value}}
    });
</script>