<div class='col list_mult_context margin-bottom padding-tiny relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input parent-relation relative {{form.class}}"
         style="{{#form.style}}{{form.style}}{{/form.style}}">
        <label for="{{column}}" class="col align-left font-small formLabel no-select"
               data-column="{{column}}">
            <div class="left d-inline">{{nome}}</div>
            {{#required}}<sup class="color-text-red left d-inline" style="margin-top: 5px"><b>*</b></sup>{{/required}}
            {{#haveAjuda}}<sup class="left"><i class="material-icons left ajuda d-inline" title="{{ajuda}}">help</i></sup>{{/haveAjuda}}
        </label>

        {{#autocompletenovo}}
            <div style="margin-right: 0"
                 class="btn{{^disabled}} btnListAction{{/disabled}} btnListMult right mode-background-colorLine mode-text-colorText hover-shadow pointer margin-left margin-bottom{{#disabled}} disabled{{/disabled}}"
                 rel="{{id}}" data-entity="{{relation}}" data-column="{{column}}"
                {{#disabled}} disabled='disabled' title='atualizações não disponíveis'{{/disabled}}>
                <i class="material-icons list-btn-icon left transition-easy font-large padding-tiny"
                   rel="{{column}}">add</i>
                <div class="left s-hide relative font-medium" style="padding:1px 0 0 5px">
                    novo
                </div>
            </div>
        {{/autocompletenovo}}

        <div class="rest relative list-input list-input-mult" rel="{{column}}">
            <div class="badgeListMult" rel="{{column}}"></div>
            <input type="text" placeholder="pesquisar..." autocomplete="off"
                   class="formCrudInput listMult{{#disabled}} disabled{{/disabled}}"
                   data-column="{{column}}"
                   data-format="list_mult"
                   data-entity="{{relation}}"
                   id="{{column}}"
                   data-value="{{value}}"
                   rel="{{formIdentificador}}"
                {{#required}} required="required" {{/required}}
                {{#disabled}}disabled="disabled"{{/disabled}}
                {{#allow.regexp}}pattern="{{allow.regexp}}"{{/allow.regexp}}
                {{{form.atributos}}}
            />
            <span class="input-bar"></span>

            <div class="col list-results" id="list-result-{{column}}"></div>
        </div>
        <div class="col info-container infoContainerListMult" rel="{{column}}">
            <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
        </div>
    </div>
</div>

<script>
    (async function () {
        inputListMultSize();
        var timeWrite = 0;

        /**
         * Atribui função ao click duplo nesta input
         */
        $(".list_mult_context").off("focus", ".listMult").on("focus", ".listMult", function () {
            searchListMult($(this));

        }).off("keyup", ".listMult").on("keyup", ".listMult", function (e) {
            let $search = $(this).siblings(".list-results");
            if(e.which === 40) {
                if(!$search.find("li.active").length) {
                    $search.find("li:first-of-type").addClass("active");
                } else if($search.find("li.active").next().length) {
                    $search.find("li.active").removeClass("active").next().addClass("active");
                }

            } else if(e.which === 38) {
                if(!$search.find("li.active").length) {
                    $search.find("li:last-of-type").addClass("active");
                } else if($search.find("li.active").prev().length) {
                    $search.find("li.active").removeClass("active").prev().addClass("active");
                }

            } else if ([13, 9, 16, 17, 18, 19, 20, 27, 33, 34, 35, 36, 37, 39, 45, 46, 91, 92, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 144, 145].indexOf(e.which) === -1) {
                let $this = $(this);
                clearTimeout(timeWrite);
                timeWrite = setTimeout(function () {
                    searchListMult($this);
                }, 300);
            }

        }).off("click", ".btnListAction").on("click", ".btnListAction", function () {
            addRegisterAssociation($(this).data("entity"), $(this).data("column"));
        });

        /**
         * Carregamento dos dados já salvos
         */
        let rel = await dbLocal.exeRead("__relevant", 1);
        {{#value}}
            db.exeRead("{{relation}}", {{.}}).then(result => {
                if(typeof result[0] === "object" && result.length === 1) {
                    let findTitle = !1;
                    for (let i in rel) {
                        for (let col in dicionarios.{{relation}}) {
                            if (dicionarios.{{relation}}[col].format === rel[i]) {
                                $("#{{column}}").siblings(".badgeListMult").append("<div class='badge badgeListMultOption' onclick=\"removeBadge({{.}}, '{{column}}');\" rel='{{column}}' data-id='{{.}}'>" + result[0][col] + "<i class='material-icons close'>close</i></div>");
                                inputListMultSize();
                                findTitle = !0;
                                break;
                            }
                        }
                        if (findTitle)
                            break;
                    }
                }
            });
        {{/value}}

    }());
</script>