<div class='col margin-bottom padding-tiny relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input relative {{form.class}}" {{form.atributos}} {{#form.style}}style="{{form.style}}"{{/form.style}}>
        <label class="left">
            <span class="col">
                <div class="left align-left padding-right formLabel no-select">{{nome}} {{#required}}<sup class="color-text-red"><b>*</b></sup>{{/required}}</div>
                <span class="rest input-message color-text-red" style="font-size: 12px;" rel="{{column}}"></span>
            </span>
            <div class="switch no-select switch-squad{{#disabled}} disabled{{/disabled}}">
                <input
                        type="checkbox"
                        data-format="{{format}}"
                        class="formCrudInput switchCheck"
                        {{#disabled}}disabled="disabled"{{/disabled}}
                        autocomplete="off"
                        id="{{column}}"
                        data-column="{{column}}"
                        data-parent="{{parent}}"
                        {{#value}} checked="checked"{{/value}}
                        rel="{{formIdentificador}}"
                    {{#disabled}} disabled='disabled' {{/disabled}}
                />
                <div class="slider"></div>
            </div>
        </label>
    </div>
</div>