<div style="background: #f5f5f5;border: solid 1px #eee;" class='radius col margin-bottom padding-tiny relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input parent-relation relative border-bottom {{form.class}}"
            style="{{#form.style}}{{form.style}}{{/form.style}}">

        <div class="col" style="margin-bottom: 0!important;">
            <h3 style="color: #888888;padding: 20px 15px 5px 12px" class="left font-large font-bold">
                {{nome}}
                {{#required}}<sup class="color-text-red"><b>*</b></sup>{{/required}}
            </h3>

            <div class="btn right theme radius padding-medium hover-shadow pointer margin-bottom"
                 onclick="addFormRelationSame('{{relation}}', '{{column}}')"
                 data-column="{{column}}" style="border: solid 1px #e3e3e3;box-shadow: none;margin-top: 12px;">
                <i class="material-icons left font-xlarge">add</i>
                <div class="left formCrudInput relative font-medium" data-column="{{column}}" data-parent="{{entity}}" id="{{column}}" style="padding:1px 0 0 5px">
                    adicionar
                </div>
            </div>

            <input type="hidden" class="formCrudInput" data-column="{{column}}" data-parent="{{parent}}" />
        </div>

        <div class="extend_list col transition-slow radius" style="background: #f5f5f5;height: 0;overflow: hidden"></div>
        <div class="extend_list_register no-select col transition-slow{{#disabled}} disabled{{/disabled}}" rel="{{formIdentificador}}" style="overflow: hidden">
            {{#value}}
                {{> file_source}}
            {{/value}}
        </div>
    </div>
</div>
<div class="col info-container padding-tiny padding-4 margin-bottom" style="margin-top: -19px;font-size: 12px;" rel="{{column}}">
    <span class="right align-right color-text-gray"  rel="{{column}}">
        {{#isNumeric}}
            {{#valueLenght}}
                {{^size}}>= {{valueLenght}}{{/size}}
                {{#size}}{{valueLenght}} ~{{size}}{{/size}}
            {{/valueLenght}}
            {{^valueLenght}}
                {{#size}}<={{size}}{{/size}}
            {{/valueLenght}}
        {{/isNumeric}}
        {{^isNumeric}}<span class="input-info">{{valueLenght}}</span>{{#size}}/{{size}}{{/size}}{{/isNumeric}}
    </span>
    <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
</div>

<style>
    .extend_register:nth-child(odd)  {
        background: #fbfbfb;
        border:solid 1px #eee;
    }
</style>