<div class='col margin-bottom padding-tiny relative {{#form.cols}}s{{form.cols}} {{/form.cols}}{{#form.colm}}m{{form.colm}} {{/form.colm}}{{#form.coll}}l{{form.coll}} {{/form.coll}}'>
    <div class="col parent-input parent-relation relative {{form.class}}"
         style="{{#form.style}}{{form.style}}{{/form.style}}">
        <label for="{{column}}" class="col align-left font-small color-text-gray-dark formLabel no-select"
               data-column="{{column}}">{{nome}} {{#required}}<sup class="color-text-red"><b>*</b></sup>{{/required}}
        </label>

        <div class="btn btnListAction right theme-d1 hover-shadow pointer margin-left margin-bottom{{#disabled}} disabled{{/disabled}}"
             rel="{{id}}"
            {{#disabled}} disabled='disabled' title='atualizações não disponíveis'{{/disabled}}
            {{^disabled}}onclick="addRegisterAssociation('{{relation}}', '{{column}}')"{{/disabled}}>
            {{^value}}
                <i class="material-icons list-btn-icon left transition-easy font-large padding-tiny" rel="{{column}}">add</i>
                <div class="left s-hide relative font-medium" style="padding:1px 0 0 5px">
                    adicionar
                </div>
            {{/value}}
            {{#value}}
                <i class="material-icons list-btn-icon font-large left transition-easy font-large padding-tiny"
                   rel="{{column}}">edit</i>
                <div class="left s-hide relative font-medium" style="padding:1px 0 0 5px">
                    editar
                </div>
            {{/value}}

        </div>

        <div class="rest relative list-input" rel="{{column}}">
            <input type="text" placeholder="pesquisar..." autocomplete="off"
                   class="formCrudInput list{{#disabled}} disabled{{/disabled}}"
                   data-column="{{column}}"
                   data-entity="{{relation}}"
                   data-parent="{{parent}}"
                   id="{{column}}"
                   data-value="{{value}}"
                   rel="{{formIdentificador}}"
                {{#required}} required="required" {{/required}}
                {{#disabled}}disabled="disabled"{{/disabled}}
                {{#allow.regexp}}pattern="{{allow.regexp}}"{{/allow.regexp}}
                {{{form.atributos}}}
            />
            <span class="input-bar"></span>

            <div class="col" style="margin-top:-20px" id="list-result-{{column}}"></div>
        </div>
        <div class="col info-container" style="margin-top: -19px;font-size: 12px;" rel="{{column}}">
            <span class="rest input-message color-text-red padding-right" rel="{{column}}"></span>
            <input type="hidden" class="formCrudInput" data-column="{{column}}" data-parent="{{parent}}"/>
        </div>
    </div>
</div>

<style>
    .btnListAction {
        padding: 8px 6px !important;
        border-radius: 50px;
        width: 40px;
        border: solid 1px #dddddd;
        box-shadow: none;
        margin-right: 0;
    }

    @media (min-width: 700px) {
        .btnListAction {
            border-radius: 4px;
            padding: 8px 16px !important;
            width: auto;
        }
    }
</style>